{{ define "partials/footer.html" }}
<footer class="footer">
  <div class="container">
    {{/* ICP 备案 */}}
    {{ with .Site.Params.beian }}
      <span>{{ . }}</span>
    {{ end }}

    {{/* Busuanzi stats */}}
    {{ if (or (.Site.Params.busuanzi) (eq .Site.Params.busuanzi true)) }}
      <span id="busuanzi_container_site_pv" style="margin-left:1rem;">
        总访问量 <span id="busuanzi_value_site_pv"></span>
      </span>
      <span id="busuanzi_container_site_uv" style="margin-left:1rem;">
        总访客数 <span id="busuanzi_value_site_uv"></span>
      </span>
    {{ end }}
  </div>
</footer>
{{ end }}
